{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'section-customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
	.section-{{ section.id }}-padding {
		padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
		padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
	}

	.personal-detail {
		background: #F7F4ED;
		border-radius: 10px;
		padding: 21px;
		display: flex;
		justify-content: space-between;
	}

	.personal-detail h3 {
		font-family: Montserrat;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0%;

	}

	.personal-detail p {
		padding-bottom: 0px;
	}

	.personal-detail .email-phone {
		display: flex;
		gap: 100px;
	}

	.personal-detail .email-phone .label {
		font-family: Montserrat;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0%;
	}

	.email-phone .label span {
		color: #000;
	}

	.address-link-title {
		display: flex;
		align-items: center;
		vertical-align: middle;
		gap: 40px;
	}

	.address-link-title a {
		font-family: Montserrat;
		font-weight: 400;
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0%;
		color: #C02127;
	}

	.address-type {
		font-family: Montserrat;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0%;
		color: #707070;
	}

	.address-block {
		font-family: Montserrat;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0%;
		color: #000;
	}

	@media screen and (min-width: 750px) {
		.section-{{ section.id }}-padding {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	}
{%- endstyle -%}

<div class="nw-main-account customer account section-{{ section.id }}-padding">
	<div class="header-title-logout">
		<h1 class="customer__title">MY ACCOUNT</h1>
		<a href="{{ routes.account_logout_url }}">
			<span class="svg-wrapper">
			{{- 'icon-account.svg' | inline_asset_content -}}
			</span>
			{{ 'customer.log_out' | t }}
		</a>
	</div>

	<div class="order-account-detail">

		{% comment %} ACCOUNT DETAIL {% endcomment %}
		<div class="personal-detail">
			<div>
				{% comment %} <h2>{{ 'customer.account.details' | t }}</h2> {% endcomment %}
				<h3>{{ customer.first_name }} {{ customer.last_name }}</h3>
				<div class="email-phone">
					<div>
						<p class="label"><span>Email</span><br />
						{{ customer.email }}</p>
					</div>
					<div>
						<p class="label"><span>Phone Number</span><br />
						{{ customer.phone }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="personal-detail">
		{% comment %} DEFAULT ADDRESS {% endcomment %}
		<div>
			{% comment %} Customer Address {% endcomment %}
			<span class="address-link-title">
				<h3>Addresses</h3>
				<a href="{{ routes.account_addresses_url }}">
					{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
				</a>
			</span>

			<div>
				<h3 class="address-type">Default Address</h3>
				<div class="address-block">
					{{ customer.default_address | format_address }}
				</div>
			</div>
		</div>
		{% comment %} {{  customer.addresses | json }} {% endcomment %}
	</div>

	<br />
	<div>
		{% comment %} ORDERS {% endcomment %}
		<div>
			<h2>{{ 'customer.orders.title' | t }}</h2>
			{% paginate customer.orders by 20 %}
				{%- if customer.orders.size > 0 -%}
				<table role="table" class="order-history">
					<caption class="visually-hidden">
					{{ 'customer.orders.title' | t }}
					</caption>
					<thead role="rowgroup">
					<tr role="row">
						<th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
						<th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
						<th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
						<th id="ColumnFulfillment" scope="col" role="columnheader">
						{{ 'customer.orders.fulfillment_status' | t }}
						</th>
						<th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
					</tr>
					</thead>
					<tbody role="rowgroup">
					{%- for order in customer.orders -%}
						<tr role="row">
						<td
							id="RowOrder"
							role="cell"
							headers="ColumnOrder"
							data-label="{{ 'customer.orders.order_number' | t }}"
						>
							<a
							href="{{ order.customer_url }}"
							aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
							>
							{{ order.name }}
							</a>
						</td>
						<td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
							{{ order.created_at | time_tag: format: 'date' }}
						</td>
						<td
							headers="RowOrder ColumnPayment"
							role="cell"
							data-label="{{ 'customer.orders.payment_status' | t }}"
						>
							{{ order.financial_status_label }}
						</td>
						<td
							headers="RowOrder ColumnFulfillment"
							role="cell"
							data-label="{{ 'customer.orders.fulfillment_status' | t }}"
						>
							{{ order.fulfillment_status_label }}
						</td>
						<td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
							{{ order.total_net_amount | money_with_currency }}
						</td>
						</tr>
					{%- endfor -%}
					</tbody>
				</table>
				{%- else -%}
				<p>{{ 'customer.orders.none' | t }}</p>
				{%- endif -%}

				{%- if paginate.pages > 1 -%}
				{%- if paginate.parts.size > 0 -%}
					<nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
					<ul role="list">
						{%- if paginate.previous -%}
						<li>
							<a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
							<span class="svg-wrapper">
								{{- 'icon-caret.svg' | inline_asset_content -}}
							</span>
							</a>
						</li>
						{%- endif -%}

						{%- for part in paginate.parts -%}
						<li>
							{%- if part.is_link -%}
							<a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
								{{- part.title -}}
							</a>
							{%- else -%}
							{%- if part.title == paginate.current_page -%}
								<span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
								{{- part.title -}}
								</span>
							{%- else -%}
								<span>{{ part.title }}</span>
							{%- endif -%}
							{%- endif -%}
						</li>
						{%- endfor -%}

						{%- if paginate.next -%}
						<li>
							<a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
							<span class="svg-wrapper">
								{{- 'icon-caret.svg' | inline_asset_content -}}
							</span>
							</a>
						</li>
						{%- endif -%}
					</ul>
					</nav>
				{%- endif -%}
				{%- endif -%}
			{% endpaginate %}
		</div>
	</div>

</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
