{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
	.section-{{ section.id }}-padding {
		padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
		padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
	}

	.nw-main-blog {
		margin-bottom: 40px;
	}

	.nw-main-blog .nw-tag {
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 400;
		line-height: 20.47px;
		border-radius: 100px;
		background-color: #6F6F6F;
		color: #fff;
		padding: 5px 12px;
		text-transform: capitalize;
	}

	.nw-main-blog .card__content .card__information {
		padding: 20px 0px;
	}

	.nw-main-blog .card__inner {
		height: 450px;
		background-color: transparent;
	}

	.nw-main-blog .card__inner .card__media {
		border-radius: 12px;
	}

	.nw-main-blog .title-wrapper--no-top-margin {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.nw-main-blog .title-wrapper--no-top-margin h2,
	.nw-main-blog .title-wrapper--no-top-margin #blog-subtitle {
		width: 100%;
		text-align: left;
	}

	.nw-main-blog .card__content .card__information {
		padding: 20px 0px;
	}

	.nw-main-blog .nw-tag {
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 400;
		line-height: 20.47px;
		border-radius: 100px;
		background-color: #6F6F6F;
		color: #fff;
		padding: 5px 12px;
		text-transform: capitalize;
	}

	.nw-main-blog .card__heading a {
		margin-top: 12px;
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		text-align: left;
		color: #231F20;
	}

	.nw-main-blog .card__heading a:hover {
		text-decoration: none;
	}

	@media screen and (min-width: 750px) {
		.section-{{ section.id }}-padding {
		padding-top: {{ section.settings.padding_top }}px;
		padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	}
{%- endstyle -%}

<style>
	.list-group {
		text-align: center;
	}
	ul#BlogTagFilter {
		list-style: none;
		padding-top: 10px;
		display: flex;
		justify-content: center;
		flex-direction: unset;
		gap: 15px;
		margin-bottom: 60px;
	}
	ul#BlogTagFilter li {
		display: inline;
		margin: 5px;
	}
	ul#BlogTagFilter li .button {
		background: #fff !important;
		color: #000;
		text-transform: capitalize;
		font-family: Montserrat;
		font-weight: 500;
		font-size: 16px;
		line-height: 19.5px;
		color: #6F6F6F;
		border-radius: 0px;
		padding: 10px 15px;
		margin: 0px;
		width: auto;
		display: flex;
		min-width: min-content;
		min-height: min-content;
	}
	ul#BlogTagFilter li .button.active {
		border-bottom: 4px solid #C02127;
		color: #C02127;
	}
	ul#BlogTagFilter li .button:before,
	ul#BlogTagFilter li .button:after {
		border-radius: 0px;
		box-shadow: none;
	}

	{% comment %} .nw-main-blog .article-card__image {
		aspect-ratio: 16/9;
	} {% endcomment %}
	.nw-main-blog .blog-articles {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 50px;
	}

	@media (max-width: 480px) {
		.nw-main-blog .blog-articles {
			grid-template-columns: repeat(1, minmax(0, 1fr)); /* 1 column for mobile */
		}
		ul#BlogTagFilter {
			gap: 0px;
			margin-left: 0px;
			padding-left: 0px;
		}
		ul#BlogTagFilter li .button {
			width: auto;
			min-width: unset;
			font-size: 16px;
			padding: 5px 10px;
		}
	}
</style>

{%- paginate blog.articles by 6 -%}
  <div class="nw-main-blog main-blog page-width section-{{ section.id }}-padding">
    {% comment %}
      <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ blog.title | escape }}
      </h1>
    {% endcomment %}

    {% if blog.tags.size > 0 %}
		<div class="blog-filter">
			<div class="list-group">
				<ul id="BlogTagFilter" class="tag-list">
					<li>
					  <a href="{{ blog.url }}" class="button {% if request.path == blog.url %}active{% endif %}">
						{{ 'All' }}
					  </a>
					</li>
					{% assign last_segment = request.path | split: '/' | last | handleize %}
					{% for tag in blog.all_tags %}
					  {% assign tag_handle = tag | handleize %}
					  <li>
						<a href="{{ blog.url }}/tagged/{{ tag_handle }}" class="button {% if tag_handle == last_segment %}active{% endif %}">
						  {{ tag }}
						</a>
					  </li>
					{% endfor %}
				</ul>
			</div>
		</div>
    {% endif %}

    <div class="page-width blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div
          class="blog-articles__article article{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
			{% assign thumb = article.metafields.custom.thumbnail %}
			{%- render 'article-card',
				article: article,
				media_height: section.settings.image_height,
				media_aspect_ratio: article.image.aspect_ratio,
				show_image: section.settings.show_image,
				show_date: section.settings.show_date,
				show_author: section.settings.show_author,
				show_tag: section.settings.nw_show_tag,
				show_excerpt: true
				thumb: thumb
			-%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
	{
		"type": "checkbox",
		"id": "nw_show_tag",
		"label": "Show Tag",
		"default": false
	},
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
