{%- style -%}
	
	#featured-card {
		display: flex;
		flex-direction: row; /* Default for desktop */
		height: 650px;

		background-image: url("{{ section.settings.featured_desktop_image | image_url }}");
		background-size: cover;
		background-position: left center;
		background-repeat: no-repeat;
	}

	#featured-card .left {
		flex: 1;
	}

	#featured-card .left img {
		display: none;
	}

	/* Right section (content) */
	#featured-card .right {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 40px;
		position: relative;
	}

	#featured-card .right img {
		position: absolute;
		left: -2%;
		top: 20%;
		transform: translateY(-50%);
	}

	#featured-card .content {
		max-width: 500px;
		text-align: center;
	}
	
	#nw-featured-quotes {
		background-color: {{ section.settings.featured_background }};
		min-height: 300px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	
	#featured-img {
		position: relative;
		overflow: hidden;
		max-width: var(--page-width);
		padding: 0px;
	}
	.full-image {
		width: 100%;
		height: auto;
		display: block;
		object-fit: cover;
		margin: 0 auto;
		max-width: var(--page-width);
		
	}
	#featured-img::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30%; /* Adjust height as needed */
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
		pointer-events: none; /* Ensure the gradient doesn't interfere with interactions */
	}
	#featured-card {
		position: relative;
	}
	#featured-card h5,
	#featured-card h3,
	#featured-card p,
	#featured-card a {
		color: {{ section.settings.featured_text_color }};
		font-family: var(--font-heading-family);
		text-align: left;
	}

	#featured-card h5 {
		font-size: 28px;
		font-weight: 400;
		line-height: 42px;
		margin-bottom: 10px;
	}

	#featured-card h3 {
		font-size: 46px;
		font-weight: 700;
		line-height: 50px;
		margin-bottom: 32px;
		margin-top: 0px;
		width: 95%;
	}

	#featured-card p {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 40px;
	}

	#featured-card a {
		font-size: 16px;
		font-weight: 500;
		line-height: 20.47px;
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 12px;
		text-decoration: none;
	}

	.quote-img {
		width: 80px;
		height: auto;
	}

	@media (min-width: 1660px) {
		#featured-card .right .content img {
			left: 15%;
		}
	}

	@media (max-width: 1366px) {
		#featured-card {
			background-position: -130px center;
		}
	}

	/* @media (max-width: 1220px) {
		#featured-card {
			background-position: -100px center;
		}
		#featured-card .right img {
			position: absolute;
			left: -11px;
			top: 20%;
			transform: translateY(-50%);
		}
	} */

	@media (max-width: 1024px) {
		#featured-card {
			background: none;
		}
		#featured-card .left {
			position: relative;
			overflow: hidden;
		}
		#featured-card .left img {
			width: 100%;
			height: 100%;
			display: flex;
			object-fit: cover;
			object-position: left;
		}
		#featured-card .right img {
			top: 15%;
			left: 40px;
		}
	}

	/* Mobile Styles */
	@media (max-width: 768px) {

		#featured-img {
			max-width: unset;
			margin: 0px;
		}

		#featured-card .left img {
			display: none;
		}

		#featured-card {
			flex-direction: column;
			background-image: url("{{ section.settings.featured_mobile_image | image_url }}");
			background-position: top center;
			background-size: cover;
			height: 1060px;
			padding-bottom: 50px;
			background-repeat: no-repeat;
		}

		.left {}

		#featured-card .right {
			position: relative;
			flex: 1;
			padding: 20px;
		}

		#featured-card .right img {
			top: 2%;
			left: 5%;
		}
	}

{%- endstyle -%}

<div id="nw-featured-quotes">
	{% for block in section.blocks %}

	  {% comment %} {% if block.type == 'featured_image' and block.settings.featured_image %}
		<div id="featured-img" class="page-width">
		  {{ block.settings.featured_image | image_url: width: 500, height: 450 | image_tag: class: "full-image" }}
		</div>
	  {% endif %} {% endcomment %}

	{% endfor %}
  
	<div id="featured-card">

		<div class="left">
			{% if section.settings.featured_tablet_image %}
				{{ section.settings.featured_tablet_image | image_url: width: 500, height: 450 | image_tag: class: "full-image" }}
			{% endif %}
		</div>
		<div class="right">
			<div class="content">
				<img src="{{ 'quote.png' | asset_url }}" alt="Quote Image" width="300" height="300" class="quote-img" />
				{% for block in section.blocks %}
					{% if block.type == 'featured_subtitle' and block.settings.featured_subtitle %}
						<h5>{{ block.settings.featured_subtitle }}</h5>
					{% elsif block.type == 'featured_title' and block.settings.featured_title %}
						<h3>{{ block.settings.featured_title }}</h3>
					{% elsif block.type == 'featured_description' and block.settings.featured_description %}
						<p>{{ block.settings.featured_description | newline_to_br }}</p>
					{% elsif block.type == 'featured_url' and block.settings.featured_url %}
						{% if block.settings.featured_url %}
							<a href="{{ block.settings.featured_url }}">
								{{ block.settings.featured_url_label }}
								<span class="svg-wrapper">
									{{- 'icon-arrow.svg' | inline_asset_content -}}
								</span>
							</a>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		
	</div>
</div>   

{% schema %}
	{
		"name": "NW Featured Quotes",
		"tag": "section",
		"class": "section",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "color",
				"id": "featured_background",
				"label": "Background Color",
				"default": "#fff"
			},
			{
				"type": "color",
				"id": "featured_text_color",
				"label": "Text Color"
			},
			{
				"type": "image_picker",
				"id": "featured_desktop_image",
				"label": "Desktop Image"
			},
			{
				"type": "image_picker",
				"id": "featured_tablet_image",
				"label": "Tablet Image"
			},
			{
				"type": "image_picker",
				"id": "featured_mobile_image",
				"label": "Mobile Image"
			},
		],
		"blocks": [
			{
				"type": "featured_subtitle",
				"name": "Subtitle",
				"settings": [
					{
					  "type": "text",
					  "id": "featured_subtitle",
					  "label": "Subtitle Text",
					  "default": "Subtitle text goes here"
					}
				],
				"limit": 1
			},
			{
				"type": "featured_title",
				"name": "Featured Title",
				"settings": [
					{
						"type": "text",
						"id": "featured_title",
						"label": "Featured Title",
						"default": "TITLE GOES HERE"
					},
				],
				"limit": 1
			},
			{
				"type": "featured_description",
				"name": "Featured Description",
				"settings": [
					{
						"type": "textarea",
						"id": "featured_description",
						"label": "Description",
						"default": "Description goes here"
					}
				],
				"limit": 1
			},
			
			{
				"type": "featured_url",
				"name": "Featured URL",
				"settings": [
					{
						"type": "url",
						"id": "featured_url",
						"label": "Featured URL",
						"default": "/"
					},
					{
						"type": "text",
						"id": "featured_url_label",
						"label": "Link Label",
						"default": "Read More"
					}
				],
				"limit": 1
			}
		],
		"presets": [
			{
				"name": "NW Featured Quotes",
				"blocks": [
					{
						"type": "featured_subtitle"
					},
					{
						"type": "featured_title"
					},
					{
						"type": "featured_description"
					}
				]
			}
		]
	}
{% endschema %}