{%- style -%}
	#nw-featured-quotes {
		background-color: {{ section.settings.featured_background }};
		min-height: 300px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	#featured-card {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	@media screen and (max-width: 768px) {
		#featured-card {
			padding-left: 24px;
			padding-right: 24px;
		}
	}

	#featured-img {
		position: relative;
		overflow: hidden;
		max-width: var(--page-width);
		padding: 0px;
	}
	.full-image {
		width: 100%;
		height: auto;
		display: block;
		object-fit: cover;
		margin: 0 auto;
		max-width: var(--page-width);
		
	}
	#featured-img::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30%; /* Adjust height as needed */
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
		pointer-events: none; /* Ensure the gradient doesn't interfere with interactions */
	}
	#featured-card {
		position: relative;
	}
	#featured-card h5,
	#featured-card h3,
	#featured-card p,
	#featured-card a {
		color: {{ section.settings.featured_text_color }};
		font-family: var(--font-heading-family);
		text-align: left;
	}

	#featured-card h5 {
		font-size: 28px;
		font-weight: 400;
		line-height: 42px;
		margin-bottom: 10px;
	}

	#featured-card h3 {
		font-size: 46px;
		font-weight: 700;
		line-height: 50px;
		margin-bottom: 32px;
		margin-top: 0px;
	}

	#featured-card p {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 40px;
	}

	#featured-card a {
		font-size: 16px;
		font-weight: 500;
		line-height: 20.47px;
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 12px;
		text-decoration: none;
	}

	.quote-img {
		width: 80px;
		height: auto;
	}

	@media (max-width: 768px) {
		#featured-img {
			max-width: unset;
			margin: 0px;
		}
	}

{%- endstyle -%}

<div id="nw-featured-quotes">
	{% for block in section.blocks %}
	  {% if block.type == 'featured_image' and block.settings.featured_image %}
		<div id="featured-img" class="page-width">
		  {{ block.settings.featured_image | image_url: width: 500, height: 450 | image_tag: class: "full-image" }}
		</div>
	  {% endif %}
	{% endfor %}
  
	<div id="featured-card" class="page-width">

		<img src="{{ 'quote.png' | asset_url }}" alt="Quote Image" width="300" height="300" class="quote-img" />
		
		{% for block in section.blocks %}
			{% if block.type == 'featured_subtitle' and block.settings.featured_subtitle %}
				<h5>{{ block.settings.featured_subtitle }}</h5>
			{% elsif block.type == 'featured_title' and block.settings.featured_title %}
				<h3>{{ block.settings.featured_title }}</h3>
			{% elsif block.type == 'featured_description' and block.settings.featured_description %}
				<p>{{ block.settings.featured_description | newline_to_br }}</p>
			{% elsif block.type == 'featured_url' and block.settings.featured_url %}
				{% if block.settings.featured_url %}
					<a href="{{ block.settings.featured_url }}">
						{{ block.settings.featured_url_label }}
						<span class="svg-wrapper">
							{{- 'icon-arrow.svg' | inline_asset_content -}}
						</span>
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>   

{% schema %}
	{
		"name": "NW Featured Quotes",
		"tag": "section",
		"class": "section",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "color",
				"id": "featured_background",
				"label": "Background Color",
				"default": "#fff"
			},
			{
				"type": "color",
				"id": "featured_text_color",
				"label": "Text Color"
			}
		],
		"blocks": [
			{
				"type": "featured_subtitle",
				"name": "Subtitle",
				"settings": [
					{
					  "type": "text",
					  "id": "featured_subtitle",
					  "label": "Subtitle Text",
					  "default": "Subtitle text goes here"
					}
				],
				"limit": 1
			},
			{
				"type": "featured_title",
				"name": "Featured Title",
				"settings": [
					{
						"type": "text",
						"id": "featured_title",
						"label": "Featured Title",
						"default": "TITLE GOES HERE"
					},
				],
				"limit": 1
			},
			{
				"type": "featured_description",
				"name": "Featured Description",
				"settings": [
					{
						"type": "textarea",
						"id": "featured_description",
						"label": "Description",
						"default": "Description goes here"
					}
				],
				"limit": 1
			},
			{
				"type": "featured_image",
				"name": "Featured Image",
				"settings": [
					{
						"type": "image_picker",
						"id": "featured_image",
						"label": "Featured Image"
					},
				],
				"limit": 1
			},
			{
				"type": "featured_url",
				"name": "Featured URL",
				"settings": [
					{
						"type": "url",
						"id": "featured_url",
						"label": "Featured URL",
						"default": "/"
					},
					{
						"type": "text",
						"id": "featured_url_label",
						"label": "Link Label",
						"default": "Read More"
					}
				],
				"limit": 1
			}
		],
		"presets": [
			{
				"name": "NW Featured Quotes",
				"blocks": [
					{
						"type": "featured_subtitle"
					},
					{
						"type": "featured_title"
					},
					{
						"type": "featured_description"
					}
				]
			}
		]
	}
{% endschema %}