<style>
	#nw-retailer-list {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.full-image-block {
		width: 100%;
		height: 100%;
		object-fit: {{ section.settings.retailer_image_fit }};
	}
    @media (max-width: 768px) {
        .retailers-grid {
            grid-template-columns: repeat(var(--mobile-columns, 2), 1fr) !important;
        }
    }
</style>
<div class="page-width" id="nw-retailer-list">
    <div class="retailers-wrapper">
        <div class="retailers-grid" style="
            display: grid;
            grid-template-columns: repeat({{ section.settings.columns }}, 1fr);
            gap: {{ section.settings.gap }}px;" data-mobile-columns="{{ section.settings.mobile_columns }}">
           
			{% for retailer in shop.metaobjects.retailers.values %}
				<a href="{{ retailer.retailer_link.value.url }}" target="_blank">
					{{ retailer.retailer_image | image_url: width: 500, height: 450 | image_tag: class: "full-image-block" }}
				</a>
			{% endfor %}		

        </div>
    </div>


</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var grid = document.querySelector(".retailers-grid");
        if (grid) {
            grid.style.setProperty("--mobile-columns", grid.getAttribute("data-mobile-columns"));
        }
    });
</script>

{% schema %}
{
    "name": "NW Retailers List", 
    "settings": [
        {
            "type": "range",
            "id": "columns",
            "label": "Number of Columns",
            "default": 3,
            "min": 1,
            "max": 6,
            "step": 1
        },
        {
            "type": "range",
            "id": "mobile_columns",
            "label": "Number of Columns on Mobile",
            "default": 2,
            "min": 1,
            "max": 4,
            "step": 1
        },
        {
            "type": "range",
            "id": "gap",
            "label": "Gap between Images (px)",
            "default": 10,
            "min": 0,
            "max": 50,
            "step": 1
        },
		{
			"type": "select",
			"id": "retailer_image_fit",
			"options": [
				{
				    "value": "cover",
					"label": "Cover"
				},
				{
				    "value": "contain",
					"label": "Contain"
				},
			],
			"default": "contain",
			"label": "Image Fit"
		}
    ],
    "blocks": [],
    "presets": [
        {
            "name": "NW Retailers List"
        }
    ]
}
{% endschema %}
